*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: palegreen;
}

h1{
    text-align: center;
}

.center{
    text-align: center;
    margin-top: 2rem;
}

button{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.containerNoob{
    display: flex;
    flex-wrap: wrap;
    max-width: 85%;
    margin: auto;
    margin-top: 10rem;
    border: 3px solid red;
}

.casella{
    text-align: center;
    line-height: 111px;
    width: calc(100% / 10);
    aspect-ratio: 1 / 1;
    background-color: aquamarine;
}

.red{
    background-color: red;
}

.hide{
    display: none;
}